@model List<AlunoModel>

<div class="text-left ">
    <div>
        <h1>Dados dos Alunos</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Contato</th>
                <th scope="col">Email</th>
                <th scope="col">Cep</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (AlunoModel Aluno in Model)
                {
                    <tr>
                        <td>@Aluno.Nome</td>
                        <td>@Aluno.Idade</td>
                        <td>@Aluno.Contato</td>
                        <td>@Aluno.Email</td>
                        <td>@Aluno.Cep</td>
                        <td class="d-grid gap-2 d-md-block">
                            <a type="submit" class="btn btn-primary" role="button" asp-controller="Alunos" asp-action="BuscarEndereco" asp-route-cep="@Aluno.Cep">Endereço</a>
                            <a type="submit" class="btn btn-primary" role="button" asp-controller="Alunos" asp-action="ExcluirAluno" asp-route-id="@Aluno.Id">Excluir</a>
                            <a type="submit" class="btn btn-primary" role="button" asp-controller="Alunos" asp-action="Editar" asp-route-id="@Aluno.Id">Editar</a>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <a class="btn btn-primary" type="button" asp-controller="Alunos" asp-action="Adicionar">Adicionar novo aluno</a>
        </div>

</div>   